/.metadata/
Debug/*
Release/*
/Release/
CMakeCache.txt
CMakeFiles/*
Makefile
firmware-STM32.bin
firmware-STM32.elf
firmware-STM32.hex
firmware-STM32.map
cmake_install.cmake
.idea
cmake-build-debug
/bootloader_build/
